version: "2"

run:
  timeout: 2m
  tests: true

linters:
  enable:
    - govet
    - ineffassign
    - unconvert
  disable:
    - errcheck
    - prealloc
    - misspell
    - paralleltest
    - staticcheck
    - unused

  exclusions:
    paths:
      - "node_modules"
      - ".*_test\\.go$"
    generated: lax

formatters:
  enable:
    - gofmt
    - goimports
  exclusions:
    paths:
      - "node_modules"

  settings:
    goimports:
      local-prefixes: [github.com/ynwd/flow]

issues:
  max-issues-per-linter: 0
  max-same-issues: 0
